@import url("https://fonts.googleapis.com/css2? family= Roboto+Mono:ital,wght@1,100 & display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  background-color: black;
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  header .logo {
    width: 400px;
    height: 180px; }
  header nav ul {
    list-style: none; }
    header nav ul li {
      display: inline-block;
      margin: 20px 20px 0px 20px; }
      header nav ul li:hover {
        transform: scale(1.2); }
      header nav ul li a {
        text-decoration: none;
        color: orangered;
        font-size: 20px;
        font-weight: 900;
        font-family: monospace;
        border: 2px solid blue;
        border-radius: 10px;
        padding: 3px;
        transition: 2s; }
        header nav ul li a:hover {
          color: azure; }
