@import"../base/variables";
.mapa{
    iframe{
        width: 100%;
        margin-bottom: 25px;
    }

}
.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    background-image: url(../img/gal13.gif);
    background-size: cover;
    background-position: center;
    .coment{
        color: $color-formulario;
        font-size: 15px;
        text-align: center;
        font-weight: 900;
        background-color: black;
        margin-top: 8px;
        margin-bottom: 8px;
    }
}
