@import"../base/variables";
@import"../base/maps.scss";
header{
    background-color: $color-back;
    padding: 10px;
    width: 100%;
    align-items: center;
    .flex-header{
        display: flex;
        justify-content: space-between;
    }
    nav{
        align-items: center;
        ul{
            list-style: none;
            li{
                display: inline-block;
                margin: 20px 20px 0px 20px;
                &:hover{
                    transform: scale(1.2);
                }
                a{
                    text-decoration: none;
                    color: $color-ban;
                    font-size:map-get($boton, font-size);
                    font-weight: map-get($boton, font-weight );
                    font-family:map-get($boton, font-family );
                    border: map-get($boton, border-boton );
                    border-radius: map-get($boton, border-radius);
                    padding:map-get($boton , padding-boton );
                    transition: 2s;
                    &:hover{
                        color: $color-animation;
                    }
                }
            }
        }
    }
}
.logo{
    width: 320px;
    height: 180px;
    margin-top: 20px;
    margin-left: 2px
    ;
    
}
.barra-buscadora{
    margin-top: 20px;
}
.clich{
    align-items: flex-start;
}