header{
    background-color: black;
    padding: 10px;
    width: 100%;
    align-items: center;
    .flex-header{
        display: flex;
        justify-content: space-between;
    }
    nav{
        align-items: center;
        ul{
            list-style: none;
            li{
                display: inline-block;
                margin: 20px 20px 0px 20px;
                &:hover{
                    transform: scale(1.2);
                }
                a{
                    text-decoration: none;
                    color: orangered;
                    font-size: 20px;
                    font-weight: 900;
                    font-family:monospace;
                    border: 2px solid blue;
                    border-radius: 10px;
                    padding: 3px;
                    transition: 2s;
                    &:hover{
                        color: azure;
                    }
                }
            }
        }
    }
}
.logo{
    width: 320px;
    height: 180px;
    margin-top: 20px;
    margin-left: 5px
    ;
    
}
.barra-buscadora{
    margin-top: 20px;
}
.clich{
    align-items: flex-start;
}