@import url('https://fonts.googleapis.com/css2? family= Roboto+Mono:ital,wght@1,100 & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One:ital@1&family=Monoton&family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Rubik+Dirt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}