/**----Variable colores-*/
$color-principal: blue;
$color-secundario: blueviolet;
$color-cards: rgb(138, 34, 138);
$color-back: black; 
$color-text: antiquewhite;
$color-title: red;
$color-ban: orangered;
$color-subt: orange;
$color-animation: azure;
$color-formulario: rgba(255, 115, 0, 0.918);
$color-gold: gold;