$boton: (
    bg-boton: black,
    border-boton: 2px solid blue,
    color-texto: orangered,
    border-radius: 10px,
    font-size: 23px,
    font-weight: 200,
    font-family: Fugaz One,
    padding-boton: 3px
    )
