$boton: (
    bg-boton: black,
    border-boton: 2px solid blue,
    color-texto: orangered,
    border-radius: 10px,
    font-size: 20px,
    font-weight: 900,
    font-family: monospace,
    padding-boton: 3px
    )
